@import url(http://fonts.googleapis.com/css?family=Lato|PT+Sans|Kreon);
@import "bourbon/bourbon",
        "neat/neat";
        
@import "fontello";

$lightGrey : hsl(0, 4%, 95%);

body {
    background: #fcfcfc;
    color: darken($lightGrey, 36%);
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

h1,
section,
footer {
    @include row("table");
}

.container {
    @include outer-container;
    max-width: 960px;
}

.container-full {
    background: #00a6d4;
    color: #fff;
    padding: 20px 0;
    margin-bottom: 16px;

    .title {
        @include span-columns(12);
    }
}

.grid {
    @include span-columns(12);
}

.logo {
    background: url(/img/logo.png) center left no-repeat;
    color: #232d31;
    display: block;
    float: left;
    font-size: 1.5em;
    font-family: Lato, sans-serif;
 
    height: 64px;    
    line-height: 64px;
    margin: 40px 0;
    padding-left: 74px;
    
    &:hover {
        
    }
}

nav {
    float: right;
   
    ul {
        height: 64px;    
        line-height: 64px;
        margin-top: 40px;
    }
    li {
        float: left;
        list-style: none;
        margin-right: 10px;
        a {
            color: #737373;
            font-family: Lato, sans-serif;
            padding: 10px;
            text-decoration: none;
            
            &:hover, &:active {
                background: #00a6d4;
                color: #fff;
            }
        }
    }
}

h1, h2, h3, h4 h5, h6 {
    font-weight: 400;
}

h1 {
    font-family: "Mir Medium", Lato, sans-serif;
    font-size: 2.5em;
    line-height: 60px;
}

h2 {
    font-family: Kreon, sans-serif;
    font-size: 1.5em;
    color: darken($lightGrey, 70%);
    padding-bottom: 8px;
    margin: 16px 0;
    //border-bottom: 1px solid rgba(0,0,0, .05);
    border-bottom: 1px solid darken($lightGrey, 10%);
;
}

h3 {
    color: darken($lightGrey, 63%);
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    margin: 16px 0 20px 0;
}

h4 {
    font-size: 1.125em;
}

article {

}

footer {
    background: #31302e;
    color: #e8e8e8;
    height: 120px;
    line-height: 120px;
    margin-top: 60px;
    
    ul {
        float: left; 
        padding-left: 0;
        li {
            float: left;
            list-style: none;
            margin-right: 1em;
        }
    }
    p {
        float: right;
    }
    a {
        @include transition(background 0.2s ease-in-out);

        background: rgba(0,0,0, .1);
        border-radius: 25em;
        color: #e8e8e8;
        padding: 0.5em;
        position: relative;
        &:hover {
            background: darken($lightGrey, 23%);
            color: #31302e;
        }
        
        &:after {
            pointer-events: none;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            content: '';
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;

            top: -3px;
            left: -3px;
            padding: 3px;
            box-shadow: 0 0 0 4px darken($lightGrey, 23%);
            -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
               -moz-transition: -moz-transform 0.2s, opacity 0.2s;
                    transition: transform 0.2s, opacity 0.2s;
            @include transform(scale(.8));
            opacity: 0;
        }
    
        &:hover:after {
            @include transform(scale(1));
            opacity: 1;
        }
    }
}