@import url(http://fonts.googleapis.com/css?family=Lato|PT+Sans|Kreon);
@import "bourbon/bourbon",
        "neat/neat";
        
@import "fontello";

$lightGrey : hsl(0, 4%, 95%);

body {
    background: #fefefe;
    color: darken($lightGrey, 36%);
    font-family: Lato, 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

a {
    color: #00a6d4;
    text-decoration: none;
    
    &:hover,
    &:active {
        border-bottom: 1px solid #00a6d4;
    }
}

h1,
section,
header,
footer {
    @include row("table");
}

.container {
    @include outer-container;
    max-width: 960px;
}

.container-full {
    background: #00a6d4;
    color: #fff;
    padding: 20px 0;
    margin-bottom: 16px;

    .title {
        @include span-columns(12);
    }
}

.grid {
    @include span-columns(12);
}


header {
    .logo {
        background: url(/img/logo.png) center left no-repeat;
        color: #232d31;
        display: block;
        float: left;
        font-size: 1.5em;
        font-family: Lato, sans-serif;
     
        height: 64px;    
        line-height: 64px;
        margin: 20px 0;
        padding-left: 74px;
        -webkit-transition: background-image 0.3s ease-in-out;
           -moz-transition: background-image 0.3s ease-in-out;
                transition: background-image 0.3s ease-in-out;
        &:hover {
            background-image: url(/img/logo2.png);
            border-bottom: none;
        }
    }

    .socials {
        float: right;
        margin-top: 34px;
        li {
            float: left;
            list-style: none;
            margin-right: 1em;
        }
        a {
            @include transition(background 0.2s ease-in-out);
            
            background: #d9d9d9;
            border-radius: 25em;
            color: #fefefe;
            display: block;
            padding: 0.5em;
            position: relative;
            &:hover {
                background: #232d31;
                border-bottom: none;
            }
            
            &:after {
                pointer-events: none;
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                content: '';
                -webkit-box-sizing: content-box;
                   -moz-box-sizing: content-box;
                        box-sizing: content-box;
    
                top: -3px;
                left: -3px;
                padding: 3px;
                box-shadow: 0 0 0 4px #232d31;

                @include transition(opacity 0.2s, background 0.2s); 
                @include transform(scale(.8));
                opacity: 0;
            }
        
            &:hover:after {
                @include transform(scale(1));
                opacity: 1;
            }
        }
    }

    nav {
        @include row("table");    
        border-top: 1px solid #e1e1e1;
        margin: 20px 0 30px;

        ul {
            padding-left: 0;
        }
        li {
            float: left;
            list-style: none;
            margin-right: 10px;
            a {
                color: #767676;
                font-family: Lato, sans-serif;
                padding: 10px;
                text-decoration: none;
                
                &:hover, &:active {
                    background: #00a6d4;
                    color: #fff;
                }
            }
        }
    }  
}



h1, h2, h3, h4 h5, h6 {
    font-weight: 400;
}

h1 {
    font-family: "Mir Medium", Lato, sans-serif;
    font-size: 2.5em;
    line-height: 60px;
}

h2 {
    border-bottom: 1px solid darken($lightGrey, 10%);
    color: darken($lightGrey, 63%);

    font-size: 1.5em;
    padding-bottom: 8px;
    margin: 32px 0 16px;

    a {
        color: darken($lightGrey, 70%);
    }

    small {
        color: darken($lightGrey, 25%);
        font-family: Lato, sans-serif;
        font-size: 0.6em;
        font-weight: normal;
    }
}

h3 {
    font-family: Kreon, sans-serif;
    font-size: 1.25em;
    margin: 16px 0 0 ;
}

h4 {
    font-size: 1.125em;
}

.project {
    //@include span-columns(4);
    
    
    @include outer-container;
    
    h2 {
        //@include span-columns(12);
    }
    .thumbnail {
        @include span-columns(4);
    }
    
    .entry {
        @include span-columns(8);
    }
}



footer {
    border-top: 4px solid #d8d8d8;
    background: #31302e;
    color: #e8e8e8;
    height: 60px;
    line-height: 60px;
    margin-top: 60px;
    
    p:first-of-type {
        float: left;
    }
    p:last-of-type {
    
        float: right;
        
        a {
            color: #e8e8e8;
            
            &:hover {
                border-bottom-color: #e8e8e8;
            }    
        }
    }
}

.btn {
    @include border-top-radius(2px);
    background: #efefef;
    color: #737373;
    padding: 10px 20px;
    
    text-decoration: none;
  
    &:hover {
        border-bottom: none;
        background: #dadada;
        color: #423e3e;
    }
}