.prettyprint {
    background-color : $white !important;
    border           : 1px solid darken($lightGray, 3%) !important;
    border-radius    : 2px;
    font-family      : Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size        : 0.8em;
    line-height      : 1.25em;
    overflow         : auto;
    padding          : 8px;
    white-space      : pre-wrap;

    code {
        white-space : pre-wrap;
    }

    &.linenums {
        @include box-shadow(inset 40px 0 0 #fafbfc, inset 41px 0 0 darken($lightGray, 3%));
    }
    /* Specify class=linenums on a pre to get line numbering */
    ol.linenums {
        margin       : 0 0 0 38px; /* IE indents via margin-left */
        padding-left : 0px;

        li {
            padding-left : 7px;
            color        : $mediumGray-hover;
            line-height  : 18px;
            text-shadow  : 0 1px 0 #fff;
        }
    }
}

.pln {
    color : $darkGray-hover;
}

.str {
    color : $grass-hover;
}

.kwd {
    color : $violet;
}

.com {
    color : $mediumGray-hover;
}

.typ {
    color : $jeans;
}

.lit,
.atn {
    color : $yellow;
}

.pun,
.opn,
.clo {
    color : $darkGray;
}

.tag {
    color : $red;
}

.atv {
    color : $green;
}

.dec {
    color : $yellow-hover;
}

.var {
    color : $red-hover;
}

.fun {
    color : $jeans-hover;
}
