$white : #fefefe;

$lightGray : #f5f7fa;
$lightGray-hover : #e6e9ed;

$mediumGray : #ccd1d9;
$mediumGray-hover : #aab2bd;

$darkGray : #656d78;
$darkGray-hover : #434a54;

$blue : #4fc1e9;
$blue-hover : #3bafda;

$red : #ed5565;
$red-hover : #da4453;

$violet : #ac92ec;
$violet-hover : #967adc;

$green : #48cfad;
$green-hover : #37bc9b;

$grass : #a0d468;
$grass-hover : #8cc152;

$jeans : #5d9cec;
$jeans-hover : #4a89dc;

$yellow : #ffce54;
$yellow-hover : #f6bb42;

$body : #838d9c;

$smartphone : 480px;
$tablet : 768px;