@import url(http://fonts.googleapis.com/css?family=Lato|PT+Sans|Kreon);
@import "bourbon/bourbon",
        "neat/neat";

@import "font-awesome.min",
        "prettify";

@font-face {
    font-family: 'Mir-Medium';
    src: url('/font/mir-medium_regular.eot');
    src: url('/font/mir-medium_regular.eot?#iefix') format('embedded-opentype'),
         url('/font/mir-medium_regular.woff') format('woff'),
         url('/font/mir-medium_regular.ttf') format('truetype');

    font-weight: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/font/lato_regular.eot');
    src: url('/font/lato_regular.eot?#iefix') format('embedded-opentype'),
         url('/font/lato_regular.woff') format('woff'),
         url('/font/lato_regular.ttf') format('truetype');

    font-weight: 400;
}

@font-face {
    font-family: 'Kreon';
    src: url('/font/kreon_bold.eot');
    src: url('/font/kreon_bold.eot?#iefix') format('embedded-opentype'),
         url('/font/kreon_bold.woff') format('woff'),
         url('/font/kreon_bold.ttf') format('truetype');

    font-weight: bold;
}

$lightGrey : hsl(0, 4%, 93%);

body {
    background: #fefefe;
    color: darken($lightGrey, 30%);
    font-family: Lato, 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

a {
    color: #00a6d4;
    text-decoration: none;

    &:hover,
    &:active {
        border-bottom: 1px solid #00a6d4;
    }
}

header,
section {
    @include row("block");
}

.container {
    @include outer-container;

    @include media(max-width 68em) {
        padding: 0 1em;
    }
}

.grid {
    @include span-columns(12);
}


header {
    .logo {
        background: url(/img/logo.png) center left no-repeat;
        color: #232d31;
        display: block;
        float: left;
        font-size: 1.5em;
        font-family: Lato, sans-serif;

        height: 64px;
        line-height: 64px;
        margin: 20px 0;
        padding-left: 74px;
        @include transition(background-image 0.3s ease-in-out);

        &:hover {
            background-image: url(/img/logo2.png);
            border-bottom: none;
        }

        @include media(max-width 520px) {
            float: none;
        }
    }

    .socials {
        float: right;
        margin-top: 34px;

        @include media(max-width 520px) {
            @include row("table");
            float: none;
            margin: 0 0 20px 0;
            padding-left: 0;
        }

        li {
            float: left;
            list-style: none;
            margin-right: 1em;
            text-align: center;
        }
        a {
            @include transition(background 0.2s ease-in-out);

            background: #d9d9d9;
            border-radius: 25em;
            color: #fefefe;
            display: block;
            padding: 0.5em;
            position: relative;
            width: 40px;

            &:hover {
                background: #232d31;
                border-bottom: none;
            }

            &:after {
                pointer-events: none;
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                content: '';
                -webkit-box-sizing: content-box;
                   -moz-box-sizing: content-box;
                        box-sizing: content-box;

                top: -3px;
                left: -3px;
                padding: 3px;
                box-shadow: 0 0 0 4px #232d31;

                @include transition(opacity 0.2s, background 0.2s);
                @include transform(scale(.8));
                opacity: 0;
            }

            &:hover:after {
                @include transform(scale(1));
                opacity: 1;
            }

        }
    }

    nav {
        @include row("block");
        border-top: 1px solid #e1e1e1;

        clear: both;

        ul {
            @include row("table");
            padding-left: 0;
        }
        li {
            float: left;
            list-style: none;
            //margin-right: 10px;

            a {
                color: #767676;
                font-family: Lato, sans-serif;
                padding: 10px;
                text-decoration: none;

                &:hover, &:active {
                    background: #00a6d4;
                    border-bottom: none;
                    color: #fff;
                }

                @include media(max-width 479px) {
                    font-size: 0.8em;
                }
            }
        }
        li:last-of-type {
            margin-right: 0;
        }
    }
}

.tagline {
    background: #00a6d4;
    color: #fff;
    padding: 20px 0;
    margin-bottom: 16px;

    .title {
        @include span-columns(12);
    }
}

h1, h2, h3, h4 h5, h6 {
    font-weight: 400;
}

h1 {
    font-family: "Mir-Medium", Lato, sans-serif;
    font-size: 2.5em;
    line-height: 60px;
    
    small {
        color: darken($lightGrey, 15%);
        font-family: Lato, sans-serif;
        font-size: 0.4em;
        font-weight: normal;
    }
}

h2 {
    border-bottom: 1px solid darken($lightGrey, 10%);
    color: darken($lightGrey, 63%);

    font-size: 1.5em;
    padding-bottom: 8px;
    margin: 32px 0 16px;

    a {
        color: darken($lightGrey, 70%);
    }

    small {
        color: darken($lightGrey, 25%);
        font-family: Lato, sans-serif;
        font-size: 0.6em;
        font-weight: normal;
    }
}

h3 {
    color: darken($lightGrey, 53%);
    font-family: Kreon, Lato, sans-serif;    
    font-size: 1.25em;
    margin: 16px 0 0 ;
}

h4 {
    font-size: 1.125em;
}

.projects {
    @include row();
    padding-left: 0;

    .project {
        @include span-columns(4);
        @include omega(3n);

        img {
            @include fill-parent;
        }

        @include media(max-width 480px) {
            @include span-columns(12);
            @include omega();
        }

        @include media(min-width 481px max-width 768px) {
            @include span-columns(6);
            @include omega(2n);
        }
    }
}


footer {
    @include row("table");
    border-top: 4px solid #d8d8d8;
    background: #31302e;
    color: #e8e8e8;
    height: 60px;
    line-height: 60px;
    margin-top: 60px;

    p:first-of-type {
        float: left;
    }
    p:last-of-type {

        float: right;

        a {
            color: #e8e8e8;

            &:hover {
                border-bottom-color: #e8e8e8;
            }
        }
    }
}

.alert {
    background-color: #fcf8e3;
    border-radius: 2px;
    color: #c09853;
    margin-bottom: 20px; 
    padding: 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    
    &.alert-info {
        background-color: #d9edf7;
        color: #3a87ad;
    }

    &.alert-success {
        background-color: #dff0d8;
        color: #468847;
    }
    
    &.alert-error {
        background-color: #f2dede;
        color: #b94a48;
    }
}

.btn {
    @include border-top-radius(2px);
    background: #efefef;
    color: #737373;
    padding: 10px 20px;

    text-decoration: none;

    &:hover {
        border-bottom: none;
        background: #dadada;
        color: #423e3e;
    }
    &:active {
       @include box-shadow(0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset);
    }
    
}

.pagination {
    list-style-type: none;
    overflow: hidden;
    padding-left: 0;    

    .prev a {
        @extend .btn;
        float: left;
    }
    
    .next a {
        @extend .btn;
        float: right;
    }
}