@import url(http://fonts.googleapis.com/css?family=Lato|PT+Sans|Kreon);
@import "bourbon/bourbon",
        "neat/neat";

@import "font-awesome.min",
        "prettify";

@font-face {
    font-family: 'Mir-Medium';
    src: url('/font/mir-medium_regular.eot');
    src: url('/font/mir-medium_regular.eot?#iefix') format('embedded-opentype'),
         url('/font/mir-medium_regular.woff') format('woff'),
         url('/font/mir-medium_regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/font/lato_regular.eot');
    src: url('/font/lato_regular.eot?#iefix') format('embedded-opentype'),
         url('/font/lato_regular.woff') format('woff'),
         url('/font/lato_regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Kreon';
    src: url('/font/kreon_bold.eot');
    src: url('/font/kreon_bold.eot?#iefix') format('embedded-opentype'),
         url('/font/kreon_bold.woff') format('woff'),
         url('/font/kreon_bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Droid Serif';
    src: url('/font/DroidSerif-Italic-webfont.eot');
    src: url('/font/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/DroidSerif-Italic-webfont.woff') format('woff'),
         url('/font/DroidSerif-Italic-webfont.ttf') format('truetype');
    font-weight: bold;
}

$white      : #fefefe;

$lightGrey  : #b4bbc5;
$mediumGrey : #656d78;
$darkGrey   : #232d31;

$blue       : #4fc1e9;
$darkBlue   : #3bafda;

$red        : #fc6e51;
$darkRed    : #e9573f;

$violet     : #ac92ec;
$darkViolet : #967adc;

$green      : #a0d468;
$darkGreen  : #8cc152;

$smartphone : 480px;
$tablet     : 768px;  

body {
    background: $white;
    color: #b4bbc5;
    font-family: Lato, 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

a {
    border-bottom: 1px solid $blue;

    color: $blue;
    text-decoration: none;

    word-wrap: break-word;
    &:hover,
    &:active {
        border-bottom-color: $darkBlue;
        color: darken($blue, 20%);
    }
}

img {
    max-width: 100%;
}

header,
section {
    @include row("block");
}

.container {
    @include outer-container;

    @include media(max-width 68em) {
        padding: 0 1em;
    }
}

.grid12 {
    @include span-columns(12);
}
.grid9 {
    @include span-columns(9);
}
.grid6 {
    @include span-columns(6);
}
.grid3 {
    @include span-columns(3);
}

header {
    .logo {
        background: url(/img/logo.png) center left no-repeat;
        border-bottom: none;
        color: $darkGrey;
        display: block;
        float: left;
        font-size: 1.5em;
        font-family: Lato, sans-serif;

        height: 64px;
        line-height: 64px;
        margin: 20px 0;
        padding-left: 74px;
        @include transition(background-image 0.3s ease-in-out);

        &:hover {
            background-image: url(/img/logo2.png);
            border-bottom: none;
        }

        @include media(max-width 520px) {
            float: none;
        }
    }

    .socials {
        float: right;
        margin-top: 34px;

        @include media(max-width 520px) {
            @include row("table");
            float: none;
            margin: 0 0 20px 0;
            padding-left: 0;
        }

        li {
            float: left;
            list-style: none;
            margin-right: 1em;
            text-align: center;
        }
        a {
            border: 3px solid $lightGrey;
            border-radius: 25em;
            color: $lightGrey;
            display: block;
            height: 40px;
            line-height: 18px;
            padding: 0.5em;
            position: relative;
            width: 40px;
                @include transition(background 0.2s);

            &:hover {
                background: $lightGrey;
                color: $white;
            }
        }
    }

    nav {
        @include row("block");
        border-top: 1px solid #e1e1e1;

        clear: both;

        ul {
            @include row("table");
            padding-left: 0;
            margin-top: 10px;
        }
        li {
            float: left;
            list-style: none;

            a {
                border-bottom: none;
                color: $lightGrey;
                font-family: Lato, sans-serif;
	            padding: 10px 16px;
                text-decoration: none;

                &:hover, &:active {
                    background: $blue;
                    border-top: 3px solid darken($blue, 20%);
                    border-bottom: none;
                    color: #fff;
                }

                @include media(max-width $smartphone - 1) {
                    font-size: 0.8em;
                    padding: 20px 10px 21px 10px;
                }
            }
            
            &.active a { 
                color: $blue;
                
                &:hover {
                    color: darken($blue, 20%);
                }
            }
        }
        li:last-of-type {
            margin-right: 0;
        }
    }
}

.tagline {
    background-size: cover;
    background-position: center;
    height: 400px;
    

    &.tagline-index {
        background-image: url(/img/background_index.jpg);
    }
    &.tagline-works {
        background-image: url(/img/background_works.jpg);
    }
    &.tagline-blog {
        background-image: url(/img/background_blog.jpg);
    }
    &.tagline-credits {
        background-image: url(/img/background_credits.jpg);
    }

    @include transition(height 0.3s ease-in-out);

    
    @include media(min-width $smartphone + 1 max-width $tablet) {
        height: 300px;
    }

    @include media(max-width $smartphone) {
        background: none;
        height: 0;
    }
}

p, h1, h2, h3, h4, h5, h6, ul, ol, blockquote, pre {
	margin-bottom: 16px;
	margin-top: 0;
}
h1, h2, h3, h4 h5, h6 {
    font-weight: 400;
}

h1 {
    //color: darken($lightGrey, 43%);
    color : #434a52;
    font-family: "Mir-Medium", Lato, sans-serif;
    font-size: 2.5em;
	line-height: 1.25em;
    margin: 6px 0 16px 0;
}

h2 {
    // border-bottom: 1px solid darken($lightGrey, 10%);
    //color: darken($lightGrey, 63%);
    color: #404855;
    font-size: 1.5em;
    margin-bottom: 24px;

    a {
        color: darken($lightGrey, 70%);
    }

    small {
        color: darken($lightGrey, 25%);
        font-family: Lato, sans-serif;
        font-size: 0.6em;
        font-weight: normal;
    }
}

h3 {
    //color: darken($lightGrey, 33%);
    color: #464a56;
    font-family: Kreon, Lato, sans-serif;    
    font-size: 1.25em;
    margin: 0 ;
}

h4 {
    color: #474e58;
    font-size: 1.125em;
}

pre {
	margin-bottom: 27px;
}

section {
    margin-bottom: 60px;


    &:last-of-type {
        margin-bottom: 0;
    }
    
    .home-icon {
        text-align: center;
        vertical-align: middle;
    }

    &.home-skill {
        .home-icon {
            @include transition(all 0.5s ease-in-out);
        }
        [class^="grid"] {
            display: table-cell;
            float: none;
        }
    }
  
}

.home-back-end {
    &:hover .home-icon{
        color: $green;
    }
}

.home-front-end {
    &:hover .home-icon{
        color: $violet;
    }
}

.home-mobile {
    &:hover .home-icon{
       color: $blue;
    }
}

.skills {
    @include row();
    padding-left: 0;
    margin: 0; 
    
    .skill {
        @include span-columns(6);
        @include omega(2n);

        @include media(max-width $smartphone) {
            @include span-columns(12);
            @include omega();
        }
    }
}

.projects {
    @include row();
    padding-left: 0;
    margin: 0;

    .project {
        @include span-columns(4);
        @include omega(3n);

        h2 {
            margin: 16px 0;
        }
        img {
            @include fill-parent;
            
            @include media(max-width $smartphone) {
                display: none;
            }
        }

        @include media(min-width $smartphone + 1 max-width $tablet) {
            @include span-columns(6);
            @include omega(2n);
        }

        @include media(max-width $smartphone) {
            @include span-columns(12);
            @include omega();
        }
    }
}

.project-info {
    i {
        display: inline-block;
        text-align: right;
        width: 20px;
    }
}

.blog {
    border-bottom : 1px solid #e1e1e1;

    padding: 16px 0;

    &:first-of-type {
        padding-top: 0;
    }

    &:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
    }
}

.subtitle {
    color: #768291;
    font-family: Lato, sans-serif;
    font-size: 0.8em;
    margin-top: 0;
    font-weight: normal;

    li {
        border-right: 1px solid #e1e1e1;        
        display: inline-block;
        padding: 0 10px;
    }

    li:first-child {
        padding-left: 0;
    }

    li:last-child {
        border: none;
    }
}


.post {
    h2 {
        margin-top: 32px;
    }
}

footer {
    @include row("table");
    border-top: 4px solid #d8d8d8;
    background: #31302e;
    color: #e8e8e8;
    height: 60px;
    line-height: 60px;
    margin-top: 60px;
    
    p {
    	margin-bottom: 0;
    	line-height: 120px;
    }
    p:first-of-type {
        float: left;
    }
    p:last-of-type {

        float: right;

        a {
            border-bottom: none;
            color: #e8e8e8;

            &:hover {
                border-bottom: 1px solid #e8e8e8;
            }
        }
    }
}

.alert {
    background-color: #fcf8e3;
    border-radius: 2px;
    color: #c09853;
    margin-bottom: 20px; 
    padding: 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    
    &.alert-info {
        background-color: #d9edf7;
        color: #3a87ad;
    }

    &.alert-success {
        background-color: #dff0d8;
        color: #468847;
    }
    
    &.alert-error {
        background-color: #f2dede;
        color: #b94a48;
    }
}

.unstyled {
    list-style: none;
    padding-left: 0;
}

.btn {
    border-radius: 2px;
    background: $blue;
    border: 1px solid darken($blue, 5%);
    @include box-shadow(0em -0.185rem 0em rgba(0, 0, 0, 0.1) inset);
    color: #fff;
    display: inline-block;
    padding: 10px 20px;

    text-decoration: none;
    @include transition(opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease, background 0.25s ease, text-shadow 0.25s ease, box-shadow 0.25s ease);
    
    &:hover {
        border: 1px solid darken($blue, 20%);
        background: darken($blue, 15%);
        color: #fff;

    }
    &:active {
        @include box-shadow(0px 1px 0.2em 0px rgba(0, 0, 0, 0.3) inset);
        color: #fff;
    }
    
}

.pagination {
    list-style-type: none;
    overflow: hidden;
    padding-left: 0;    
    margin: 60px 0 0 0;

    .prev a {
        @extend .btn;
        float: right;
        
        @include media(max-width $tablet - 1) {
            float: none;
            display: block;
            text-align: right;
        }
    }
    
    .next a {
        @extend .btn;
        float: left;
        @include media(max-width $tablet - 1) {
            float: none;
            display: block;
            margin-bottom: 20px;
            text-align: left;
        }
    }
}

blockquote {
    border-left: 3px solid $blue;
    color: darken($lightGrey, 30%);
    padding-left: 10px;
    margin: 0;

    em {
        color: darken($lightGrey, 10%);
        font-size: 0.8em;
        font-family: 'Droid Serif', serif;

        &:before {
            content: "\2014";
            margin-right: 4px;
        }
    }
}