@import "variables";
@import "bourbon/bourbon", "neat/neat";
@import "font-awesome.min", "prettify";

@include font-face(Mir-Medium, '/font/mir-medium_regular', normal);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Kreon:700|Droid+Serif:700italic);

body {
    background                  : $white;
    color                       : $body;
    font-family                 : Lato, 'PT Sans', sans-serif;
    font-weight                 : 300;
    font-size                   : 16px;
    line-height                 : 1.5em;
    margin                      : 0;
    padding                     : 0;

    // background-size: 1.5em 1.5em;
    // background-position: 0 -8px;
    // background-image: -webkit-linear-gradient(top, #ffffff, #ffffff 98%, #FF0000 100%);

    -webkit-tap-highlight-color : rgba(0, 0, 0, 0);
}

a {
    border-bottom   : 1px solid $blue;

    color           : $blue;
    text-decoration : none;

    word-wrap       : break-word;
    &:hover,
    &:active {
        border-bottom-color : $blue-hover;
        color               : darken($blue, 20%);
    }
}

img {
    max-width : 100%;
}

header,
section {
    @include row("block");
}

.container {
    @include outer-container;
    max-width : 60em;

    @include media(max-width 68em) {
        padding : 0 1em;
    }
}

.grid3 {
    @include span-columns(3);
}

.grid4 {
    @include span-columns(4);
}

.grid6 {
    @include span-columns(6);
}

.grid9 {
    @include span-columns(9);
}

.grid12 {
    @include span-columns(12);
}

.grid3,
.grid4,
.grid6,
.grid9,
.grid12 {
    @include media(max-width $smartphone) {
        @include span-columns(12);
    }
}

header {
    .grid12:first-of-type {
        border-bottom : 1px solid $mediumGray;
    }
    .logo {
        //noinspection CssUnknownTarget
        background    : url(/img/logo.png) center left no-repeat;
        border-bottom : none;
        color         : $darkGray-hover;
        display       : block;
        float         : left;
        font-size     : 1.5em;
        font-family   : Lato, sans-serif;
        font-weight   : 400;
        height        : 64px;
        line-height   : 64px;
        margin        : 20px 0;
        padding-left  : 74px;
        position      : relative;
        @include transition(background 0.3s linear);

        &:hover {
            border-bottom : none;

            &:before {
                background : $blue;
            }
        }

        @include media(max-width 520px) {
            float : none;
        }
        &:before {
            background    : $darkGray-hover;
            border-radius : 25em;
            content       : "";
            height        : 64px;
            left          : 0;
            position      : absolute;
            width         : 64px;
            z-index       : -1;
            @include transition(background 0.3s ease-in-out);
        }
    }
}

.nav {
    @include clearfix;

    ul {
        @include clearfix;
        margin       : 0;
        padding-left : 0;
    }

    li {
        float      : left;
        list-style : none;

        a {
            border-bottom : none;
            color         : $body;
            display       : block;
            padding       : 10px 16px;

            &:hover, &:active {
                color : $blue;
            }
        }

        &.active a {
            color : $blue;

            &:hover {
                color : darken($blue, 20%);
            }
        }
    }
}

.nav-menu {
    float : right;

    @include media(max-width $tablet) {
        @include row("table");
        float        : none;
        padding-left : 0;
    }

    ul {
        @include clearfix;
        margin-top : 20px;

        @include media(max-width $tablet) {
            margin : 0;
        }
    }

    li a {
        height      : 64px;
        line-height : 64px;

        @include media(max-width $smartphone - 1) {
            font-size : 0.8em;
            padding   : 14px 10px;
        }
    }

    li.active a {
        font-weight : 400;
    }
}

.nav-submenu {
    @include row("table");

    li a {
        border-top : 3px solid transparent;
    }

    li.active a {
        border-color : $blue;
    }
}

.actions {
    margin     : 0;
    padding    : 0;

    @include row("table");

    text-align : center;
    ul {
        @extend .unstyled;
    }
    li {
        display : inline-block;
    }
    li:first-child {
        margin-right : 1em;
    }
}

.body {
    margin-top : 10px;

    p, h1, h2, h3, h4, h5, h6, ul, ol, blockquote, pre {
        margin-bottom : 24px;
        margin-top    : 0;
    }
    h1, h2, h3, h4 h5, h6 {
        font-weight : 400;
    }

    h1 {
        color       : #434a52;
        font-family : "Mir-Medium", Lato, sans-serif;
        font-size   : 2.5em;
        line-height : 1.25em;
        margin      : 6px 0 12px 0;
    }

    h2 {
        color         : #404855;
        font-size     : 1.5em;
        margin-bottom : 26px;

        a {
            color : $darkGray;
        }

        small {
            color       : $mediumGray-hover;
            font-family : Lato, sans-serif;
            font-size   : 0.6em;
            font-weight : normal;
        }
    }

    h3 {
        color       : #464a56;
        font-family : Kreon, Lato, sans-serif;
        font-size   : 1.25em;
        margin      : -3px 0 0 0;
    }

    h4 {
        color     : #474e58;
        font-size : 1.125em;
    }

    pre {
        margin-bottom : 28px;
    }

    p + h2,
    ul + h2,
    ol + h2 {
        margin-top : -2px;
    }

    ul + h3,
    ol + h3 {
        margin-top : 2px;
    }
    h3 + p,
    h3 + ul,
    h3 + ol,
    h3 + blockquote {
        margin-top : 2px;
    }
}

section {
    margin-bottom : 48px;

    &:last-of-type {
        margin-bottom : 0;
    }
}

.list {
    @include row();
    padding-left : 0;
    margin       : 0 !important;

    .list-item {
        @include span-columns(6);
        @include omega(2n);
    }
}

.list-skills {
    .list-item {
        &:nth-child(1),
        &:nth-child(2) {
            margin-bottom : 52px;
        }

        @include media(max-width $smartphone) {
            @include span-columns(12);
            @include omega();
            margin-bottom : 28px;
        }

        .image {
            text-align : center;
        }
        .image-wrapper {
            border-radius : 25em;
            display       : inline-block;
            margin        : 24px auto;
            padding       : 24px;
            width         : 118px;
        }
        &:nth-child(1) .image-wrapper {
            background : $red;
        }
        &:nth-child(2) .image-wrapper {
            background : $blue;
        }
        &:nth-child(3) .image-wrapper {
            background : $green;
        }
        &:nth-child(4) .image-wrapper {
            background : $violet;
        }
    }

}

.list-projects {
    .list-item {
        img {
            @include fill-parent;
            margin-bottom : 18px;
            @include media(max-width $smartphone) {
                display : none;
            }
        }
        @include media(max-width $smartphone) {
            @include span-columns(12);
            @include omega();
        }
    }
}

.project-info {
    i {
        display    : inline-block;
        text-align : right;
        width      : 20px;
    }
}

.blog {
    border-bottom : 1px solid #e1e1e1;

    padding       : 16px 0;

    &:first-of-type {
        padding-top : 0;
    }

    &:last-of-type {
        border-bottom  : none;
        padding-bottom : 0;
    }
}

.subtitle {
    color      : #768291;
    font-size  : 0.8em;
    margin-top : 0;

    li {
        border-right : 1px solid #e1e1e1;
        display      : inline-block;
        padding      : 0 10px;
    }

    li:first-child {
        padding-left : 0;
    }

    li:last-child {
        border : none;
    }
}

footer {
    @include row("table");
    border-top : 4px solid $mediumGray;
    background : $darkGray-hover;
    color      : $lightGray;
    height     : 60px;
    margin-top : 48px;

    p {
        margin-bottom : 0;
        line-height   : 120px;
    }
    p:first-of-type {
        float : left;
    }

    .socials {
        float  : right;
        margin : 55px 0 0 0;

        li {
            float        : left;
            list-style   : none;
            margin-right : 1em;
            text-align   : center;
        }
        a {
            border        : 3px solid $lightGray;
            border-radius : 25em;
            color         : $lightGray;
            display       : block;
            height        : 40px;
            line-height   : 18px;
            padding       : 0.5em;
            position      : relative;
            width         : 40px;
            @include transition(background 0.2s ease-in-out);

            &:hover {
                background : $lightGray;
                color      : $darkGray-hover;
            }
        }
    }
}

form {
    ul {
        padding-left : 0;

        li {
            list-style    : none;
            margin-bottom : 24px;

            &:last-child {
                margin-bottom : 0;
            }
        }
    }
}

label {
    color         : #656d78;
    display       : inline-block;
    font-weight   : 500;
    margin-bottom : 7px;
}

input, textarea {
    font-family : Lato, 'PT Sans', sans-serif;
    font-weight : 300;
    font-size   : 1em;

    &:focus {
        outline : 0;
    }
}

input:not([type="submit"]), textarea {
    border        : 1px solid #e6e9ed;
    border-radius : 4px;
    color         : $lightGray;
    height        : 40px;
    padding       : 0 12px;
    max-width     : 450px;
    width         : 100%;
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
    @include transition(border-color 0.2s linear, box-shadow linear 0.2s);

    &:hover,
    &:focus {
        border-color : $blue;
    }

    &:focus {
        box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($blue, 0.6);
    }
}

textarea {
    height    : 192px;
    padding   : 12px;
    max-width : 768px;
}

input[type="submit"] {
    width : auto;
}

.hide {
    display : none;
}

.alert {
    background-color : #fcf8e3;
    border-radius    : 2px;
    color            : #c09853;
    margin-bottom    : 30px;
    padding          : 8px 14px;
    text-shadow      : 0 1px 0 rgba(#fff, 0.5);

    &.alert-info {
        background-color : #d9edf7;
        color            : #3a87ad;
    }

    &.alert-success {
        background-color : #dff0d8;
        color            : #468847;
    }

    &.alert-error {
        background-color : #f2dede;
        color            : #b94a48;
    }
}

.unstyled {
    list-style   : none;
    padding-left : 0;
}

.callout {
    margin      : 24px 0;
    border-left : 5px solid white;
    padding     : 12px 24px;
}

.callout-info {
    border-left-color : rgba($blue-hover, 0.3);
    background        : rgba($blue, 0.15);
    color             : $blue-hover;
}

.callout-warning {
    border-left-color : rgba(#c09853, 0.3);
    background        : #fcf8e3;
    color             : #c09853;
}

.callout-success {
    border-left-color : rgba($green-hover, 0.3);
    background        : rgba($green, 0.15);
    color             : $green-hover;
}

.callout-error {
    border-left-color : rgba($red-hover, 0.3);
    background        : rgba($red, 0.15);
    color             : $red-hover;
}

.btn {
    border-radius   : 2px;
    background      : #fff;
    border          : 1px solid transparent;
    @include box-shadow(0em -0.185rem 0em rgba(0, 0, 0, 0.1) inset);
    color           : #fff;
    display         : inline-block;
    padding         : 10px 20px;

    text-decoration : none;
    @include transition(background-color 0.25s ease, color 0.25s ease, text-shadow 0.25s ease, box-shadow 0.25s ease);

    &:hover {
        background-color : #fff;
        border           : 1px solid transparent;
        color            : #fff;

    }
    &:active {
        @include box-shadow(0px 1px 0.2em 0px rgba(0, 0, 0, 0.3) inset);
        color : #fff;
    }
    a, a:visited {
        color : #fff;

        &:hover {
            border-bottom : none;
        }
    }
}

.btn-default {
    background-color : $lightGray;
    border-color     : darken($lightGray, 8%);
    color            : $darkGray;

    &:hover {
        background-color : $lightGray-hover;
        border-color     : darken($lightGray-hover, 15%);
        color            : $darkGray;
    }
    &:active {
        color : $darkGray;
    }
    a {
        color : $darkGray;
    }
}

.btn-primary {
    background-color : $blue;
    border-color     : darken($blue, 5%);
    color            : #fff;

    &:hover {
        background-color : darken($blue, 15%);
        border-color     : darken($blue, 20%);
        color            : #fff;
    }
}

.pagination {
    list-style-type : none;
    overflow        : hidden;
    padding-left    : 0;
    margin          : 60px 0 0 0;

    .prev a {
        @extend .btn, .btn-primary;
        float : right;

        @include media(max-width $tablet - 1) {
            float      : none;
            display    : block;
            text-align : right;
        }
    }

    .next a {
        @extend .btn, .btn-primary;
        float : left;
        @include media(max-width $tablet - 1) {
            float         : none;
            display       : block;
            margin-bottom : 20px;
            text-align    : left;
        }
    }
}

.paginator {
    @include row();

    margin       : 48px 0 0 0 !important;
    padding-left : 0;

    li {
        float        : left;
        list-style   : none;
        margin-right : 4px;
    }

    .active,
    .btn {
        padding : 4px 8px;
    }
    .active {
        display : inline-block;
    }
}

pre {
    background-color : #f5f5f5;
    border           : 1px solid rgba(0, 0, 0, 0.15);
    border-radius    : 4px;
    display          : block;
    font-size        : 13px;
    line-height      : 20px;
    margin           : 0 0 10px;
    padding          : 9.5px;
    white-space      : pre-wrap;
    word-break       : break-all;
    word-wrap        : break-word;
}

pre code {
    background-color : transparent;
    border           : none;
    color            : inherit;
    padding          : 0;
    white-space      : pre-wrap;
}

code {
    background-color : #f7f7f9;
    border           : 1px solid #e1e1e8;
    border-radius    : 2px;
    color            : #d14;
    font-family      : Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size        : 12px;
    padding          : 2px 4px;
    white-space      : nowrap;
}

blockquote {
    border-left  : 3px solid $blue;
    color        : $mediumGray-hover;
    padding-left : 10px;
    margin       : 0;

    em {
        color       : darken($mediumGray, 10%);
        font-size   : 0.8em;
        font-family : 'Droid Serif', serif;

        &:before {
            content      : "\2014";
            margin-right : 4px;
        }
    }
}