_site
.DS_Store
.sass-cache

_posts/.DS_Store

.compass/

node_modules

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
## Directory-based project format
.idea/

## File-based project format
*.ipr
*.iml
*.iws
