pre {
    background    : none;
    border        : none;
    border-radius : 0;
    color         : $gray-lighter;
    font-size     : 0.85em;
    margin        : 0;
    //padding       : ($line-height-computed - 1) (($line-height-computed - 1) / 2);
    word-break    : normal;
}

.highlighttable {
    background-color : $gray-dark;
    border-radius    : $border-radius-small;
    display          : block;
    margin           : $line-height-computed (-$grid-gutter-width / 2) $line-height-computed;

    .linenos {
        pre {
            opacity : 0.35;
            padding : 21px 10.5px;
        }
        code[class*="language-"],
        pre[class*="language-"] {
            text-shadow : none;
            color       : inherit;
        }
    }
}

.c {
    color : #a7adba
}

/* Comment */
.err {
    color : #bf616a
}

/* Error */
.k {
    color : #b48ead
}

/* Keyword */
.l {
    color : #d08770
}

/* Literal */
.n {
    color : #2b303b
}

/* Name */
.o {
    color : #96b5b4
}

/* Operator */
.p {
    color : #c4c9d4
}

/* Punctuation */
.cm {
    color : #a7adba
}

/* Comment.Multiline */
.cp {
    color : #a7adba
}

/* Comment.Preproc */
.c1 {
    color : #a7adba
}

/* Comment.Single */
.cs {
    color : #a7adba
}

/* Comment.Special */
.gd {
    color : #bf616a
}

/* Generic.Deleted */
.ge {
    font-style : italic
}

/* Generic.Emph */
.gh {
    color       : #2b303b;
    font-weight : bold
}

/* Generic.Heading */
.gi {
    color : #a3be8c
}

/* Generic.Inserted */
.gp {
    color       : #a7adba;
    font-weight : bold
}

/* Generic.Prompt */
.gs {
    font-weight : bold
}

/* Generic.Strong */
.gu {
    color       : #96b5b4;
    font-weight : bold
}

/* Generic.Subheading */
.kc {
    color : #b48ead
}

/* Keyword.Constant */
.kd {
    color : #b48ead
}

/* Keyword.Declaration */
.kn {
    color : #96b5b4
}

/* Keyword.Namespace */
.kp {
    color : #b48ead
}

/* Keyword.Pseudo */
.kr {
    color : #b48ead
}

/* Keyword.Reserved */
.kt {
    color : #ebcb8b
}

/* Keyword.Type */
.ld {
    color : #a3be8c
}

/* Literal.Date */
.m {
    color : #d08770
}

/* Literal.Number */
.s {
    color : #a3be8c
}

/* Literal.String */
.na {
    color : #8fa1b3
}

/* Name.Attribute */
.nb {
    color : #c4c9d4
}

/* Name.Builtin */
.nc {
    color : #ebcb8b
}

/* Name.Class */
.no {
    color : #bf616a
}

/* Name.Constant */
.nd {
    color : #96b5b4
}

/* Name.Decorator */
.ni {
    color : #c4c9d4
}

/* Name.Entity */
.ne {
    color : #bf616a
}

/* Name.Exception */
.nf {
    color : #8fa1b3
}

/* Name.Function */
.nl {
    color : #c4c9d4
}

/* Name.Label */
.nn {
    color : #ebcb8b
}

/* Name.Namespace */
.nx {
    color : #8fa1b3
}

/* Name.Other */
.py {
    color : #c4c9d4
}

/* Name.Property */
.nt {
    color : #96b5b4
}

/* Name.Tag */
.nv {
    color : #bf616a
}

/* Name.Variable */
.ow {
    color : #96b5b4
}

/* Operator.Word */
.w {
    color : #c4c9d4
}

/* Text.Whitespace */
.mf {
    color : #d08770
}

/* Literal.Number.Float */
.mh {
    color : #d08770
}

/* Literal.Number.Hex */
.mi {
    color : #d08770
}

/* Literal.Number.Integer */
.mo {
    color : #d08770
}

/* Literal.Number.Oct */
.sb {
    color : #a3be8c
}

/* Literal.String.Backtick */
.sc {
    color : #c4c9d4
}

/* Literal.String.Char */
.sd {
    color : #a7adba
}

/* Literal.String.Doc */
.s2 {
    color : #a3be8c
}

/* Literal.String.Double */
.se {
    color : #d08770
}

/* Literal.String.Escape */
.sh {
    color : #a3be8c
}

/* Literal.String.Heredoc */
.si {
    color : #d08770
}

/* Literal.String.Interpol */
.sx {
    color : #a3be8c
}

/* Literal.String.Other */
.sr {
    color : #a3be8c
}

/* Literal.String.Regex */
.s1 {
    color : #a3be8c
}

/* Literal.String.Single */
.ss {
    color : #a3be8c
}

/* Literal.String.Symbol */
.bp {
    color : #c4c9d4
}

/* Name.Builtin.Pseudo */
.vc {
    color : #bf616a
}

/* Name.Variable.Class */
.vg {
    color : #bf616a
}

/* Name.Variable.Global */
.vi {
    color : #bf616a
}

/* Name.Variable.Instance */
.il {
    color : #d08770
}

/* Literal.Number.Integer.Long */
