// Pills
// -------------------------
.nav-pills {
    > li {
        float : left;

        // Links rendered as pills
        > a {
            border-radius : $nav-pills-border-radius;
            border-top    : 3px solid transparent;

            &:hover {
                -webkit-transition : color 0.3s ease-in-out;
                -moz-transition    : color 0.3s ease-in-out;
                transition         : color 0.3s ease-in-out;
            }
            &:hover,
            &:focus {
                color : $nav-pills-active-link-hover-color;
            }
        }

        &.active > a {
            border-top-color : $nav-pills-active-link-hover-color;
            font-weight      : bold;
        }
        + li {
            margin-left : 2px;
        }
    }
}

.nav {
    .open > a {
        &,
        &:hover,
        &:focus {
            border-color : transparent;
        }
    }
    .open.active > a {
        &,
        &:hover,
        &:focus {
            border-color : $nav-pills-active-link-hover-color;
        }
    }
}