.pagination {
  & > li > a,
  & > li > a:hover,
  & > li > span,
  & > li > span:hover {
    width: 36px;
    height: 36px;
  }

  & > li > a,
  & > li > span,
  & > li:first-child > a,
  & > li:first-child > span,
  & > li:last-child > a,
  & > li:last-child > span {
    border: 0;
    margin: 0 2px;
  }

  & > li > a:hover,
  & > li > span:hover,
  & > li:first-child > a:hover,
  & > li:first-child > span:hover,
  & > li:last-child > a:hover,
  & > li:last-child > span:hover {
    background: url('/img/pagination-bg.png') top left no-repeat;
  }

  & > li.active > a,
  & > li.active > span,
  & > li.active > a:hover,
  & > li.active > span:hover,
  & > li.active > a:focus,
  & > li.active > span:focus {
    background: url('/img/pagination-bg.png') top right no-repeat;
    border: 0;
    color: #ffffff;
    padding: 7px 13px;
  }
}
