.section {
    padding-bottom : $grid-gutter-width * 2;
    padding-top    : $grid-gutter-width * 2;
    overflow-x     : hidden;

    @media (min-height : 700px) {
        padding-bottom : $grid-gutter-width * 4;
        padding-top    : $grid-gutter-width * 4;
    }

    .section-title {
        margin-bottom : $grid-gutter-width;
        text-align    : center;
    }

    & + svg {
        display : block;
    }
}

.section-resume {

    & + svg {
        background : $gray-lighter;
        path {
            fill         : $body-bg;
            stroke       : $body-bg;
            stroke-width : 2;
        }
    }
    .resume {
        margin-top    : $grid-gutter-width * 2;
        margin-bottom : 0;

        a:first-child {
            margin-right : $grid-gutter-width / 2;
        }
    }
}

.section-skills {
    background : $gray-lighter;

    & + svg {
        path {
            fill         : $gray-lighter;
            stroke       : $gray-lighter;
            stroke-width : 2;
        }
    }
}
