<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.tagline }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Pierre Baron">
    <meta name="keyword" content="{{page.keywords}}">
    {% if page.description %}
    <meta name="description" content="{{page.description}}">
    {% endif %}
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/img/favicon.png">
    <link rel='stylesheet' type='text/css'
          href='http://fonts.googleapis.com/css?family=Open+Sans:300,600|Kreon:700|Droid+Serif:700italic|Fjalla+One'>
    <link rel='stylesheet' type='text/css' href="/css/style.css">
</head>