<header>
    <div class="container">
        <div class="grid12">
            <a class="logo">pierrebaron.fr</a>
            <nav class="nav nav-menu">
        	    <ul>
        	    {% for link in site.navigation %}
                    {% assign current = nil %}
                    {% assign currentPage = page.url | remove: 'index.html' %}
                        {% if currentPage == link.url or page.layout == link.layout %}
                            {% assign current = 'active' %}
                        {% endif %}
                        <li class="{{current}}"><a href="{{ link.url }}">{{ link.text }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>