<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{'/' | prepend : site.baseurl }}">pierrebaron</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                {% for link in site.navigation %}
                {% assign current = nil %}
                {% assign currentPage = page.url | remove: 'index.html' %}
                {% if currentPage == link.url or page.layout == link.layout %}
                {% assign current = 'active' %}
                {% endif %}
                <li class="{{current}}"><a href="{{ link.url }}">{{ link.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>