---
layout   : default
title    : Blog
tagline  : Blog
keywords : Pierre Baron, Web developer, Mobile Developer, Java, PHP, jQuery, CakePHP, jQuery
---

{% for post in paginator.posts %}
    <div class="blog">
        <h2>
            {{ post.tagline }}
            <small>{{ post.date | date: '%d/%m/%Y' }}</small>
        </h2>
        <div class="blog-entry">
            <p>{{ post.excerpt }}</p>
            <p>
                <a href="{{ post.url }}" class="btn">
                    Lire l'article &nbsp;&nbsp;<i class="icon-chevron-sign-right"></i>
                </a>
            </p>
        </div>
    </div>
{% endfor %}

<ul class="paginator">
    <li>
        {% if paginator.page == 1 %}
          <span class="active">1</span>
        {% else %}
          <a href="/blog/" class="btn">1</a>
        {% endif %}
      </li>

    {% for count in (2..paginator.total_pages) %}
        <li>
            {% if count == paginator.page %}
               <span class="active">{{ count }}</span>
            {% else %}
                <a href="/blog/page{{ count }}" class="btn">{{ count }}</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>