.footer {
    margin-top : 60px;
    // too precise
    i {
        font-size     : 30px;
        padding-right : 25px;
    }
}

.footer-information {
    padding-top    : 60px;
    padding-bottom : 30px;
}

.footer-copyright {
    padding-bottom : 30px;
}

.footer-inverse {
    background : $gray-darker;
    color      : $footer-color;


    a > i {
        color : $footer-color;

        &:hover {
            color : $link-hover-color;
        }
    }
}