.footer {
    a {
        padding-right : 25px;
    }

    i {
        font-size : 30px;
    }

    [class*="col-"]:not(:last-child) {
        margin-bottom : 30px;

        @media (min-width : $screen-md-min) {
            margin-bottom : 0px;
        }
    }

}

.footer-information {
    padding-top    : 60px;
    padding-bottom : 30px;
}

.footer-copyright {
    padding : $line-height-base*1em 0;
    p {
        margin-bottom : 0;
    }
}

.footer-inverse {
    background : $gray-darker;
    color      : $footer-color;

    .footer-information {
        background : $gray-dark;
    }

    a {
        color : $footer-color;

        &:hover {
            color           : $link-hover-color;
            text-decoration : none;
        }
    }
}