.section {
    padding-bottom : 120px;
    padding-top    : 120px;

    .section-title {
        margin-bottom : 30px;
        text-align    : center;

    }
}

.section-skills {
    background : $gray-lighter;

//    [class*="col-"]:not(:last-child) {
//        margin-bottom : 60px;
//    }
}