.skill {
}

.skill-icon {
    color     : #00b3fe;
    font-size : 3em;
    padding   : 15px;
}

.skill-title {
    font-family : Kreon, Lato, sans-serif;
}

.skill-list {
    strong {
        display : block;
    }
}