.tagline {
    margin-bottom  : 60px;
    padding-top    : 25px;
    padding-bottom : 25px;

    &.tagline-primary {
        background : $brand-primary;
    }

    .tagline-title {
        color       : white;
        font-family : "Mir-Medium", Lato, sans-serif;
        margin-left : 15px;

    }
}