.tagline {
    margin-bottom  : 60px;
    padding-top    : 25px;
    padding-bottom : 25px;

    .tagline-title {
        font-family : "Mir-Medium", Kreon, sans-serif;
        font-weight: 500;
        font-size: 2em;
    }

    &.tagline-primary {
        background : $brand-primary;

        .tagline-title {
            color : white;
        }
    }
}