<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

{% include header.html %}
{% include tagline.html %}

<section class="section">
    <div class="container">
        <div class="col-md-8">
            <p><img class="img-responsive" src=""></p>

            <p><i class="fa fa-clock-o"></i> {{ page.date | date: '%d/%m/%Y' }}</p>

            <p><i class="fa fa-user"></i>
                {% if page.author%} {{ page.author}}
                {% else %} Pierre Baron {% endif %}
            </p>

            {% if page.demo || page.download %}
            <div class="actions">
                <ul>
                    {% if page.demo %}
                    <li><a href="{{page.demo}}" class="btn btn-primary">Démonstration</a></li>
                    {% endif %}
                    {% if page.download %}
                    <li><a href="{{page.download}}" class="btn btn-default">Sources</a></li>
                    {% endif %}
                </ul>
            </div>

            {% endif %}

            {% if page.note %}
            <div class="callout callout-warning">
                {{page.note}}
            </div>
            {% endif %}

            {{ content }}

            {% if page.comments %}
            <div class="disqus">
                {% include disqus.html %}
            </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% include categories.html %}
        </div>
    </div>
</section>

{% include footer.html %}

{% include analytics.html %}

<script src="/js/vendor.all.js"></script>

</body>
</html>