<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include header.html %}

<div class="container body">
    <div class="grid12">
        <h1 class="title">{{ tagline }}</h1>
        <ul class="unstyled subtitle">
            <li><i class="icon-building"></i> {{ client }}</li>
            <li><i class="icon-time"></i> {{ duration }}</li>
            <li><i class="icon-bolt"></i> {{ skills }}</li>
        </ul>

        {{ content }}
    </div>
</div>


{% include footer.html %}

{% include analytics.html %}

</body>
</html>
